.Icon{


    direction: ltr;
    margin-left: 33px
px
;
    margin-bottom: 41px;
    font-size: 25px;

}

.h1{
    direction: rtl;
    font-family: 'IRANYekan';
    letter-spacing: 0 !important;
}

.Card:hover h1{

    color: red;
}